- var keywords = "hackathon, Ryerson University, RU Hacks, Toronto, Ryerson"
- var title = "RU Hacks | Ryerson University"
- var desc = "RU Hacks, Ryerson University's hackathon will be happening in Spring 2017. Subscribe to our newsletter to stay updated."
- var img = "https://2017.ruhacks.com/img/og_twitter.png?12192016"

meta(http-equiv="Content-Type",     content="text/html; charset=UTF-8")
meta(http-equiv="X-UA-Compatible",  content="IE=edge")
meta(name="description",            content=desc)
meta(name="keywords",               content=keywords)
meta(name="viewport",               content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
meta(name="theme-color",            content="#004c9b")
base(href="/")

//- ==================== Open Graph ==================== 
meta(property="og:site_name",       content="RU Hacks | Ryerson University")
meta(property="og:type",            content="website")
meta(property="og:url",             content="https://2017.ruhacks.com/")
meta(property="og:title",           content=title)
meta(property="og:description",     content=desc)
meta(property="og:image",           content=img)
meta(property="og:image:type",      content="png")
meta(property="og:image:width",     content="820")
meta(property="og:image:height",    content="461")

//- ==================== Twitter Handle ==================== 
meta(name="twitter:card",           content="summary_large_image")
meta(name="twitter:site",           content="@ruhacks")
meta(name="twitter:creator",        content="@ruhacks")
meta(name="twitter:domain",         content="https://2017.ruhacks.com/")
meta(name="twitter:title",          content=title)
meta(name="twitter:description",    content=desc)
meta(name="twitter:image",          content=img)
meta(name="twitter:image:alt",      content="RU Hacks happening in Winter 2017")
meta(name="google-site-verification" content="Xi6KYHT2CnurmWUwAAmUOJn1ORNlmXzgocodPWqxjBI")

//- ====================Favicon ==================== 
link(rel="canonical", href="")
link(rel="icon", type="image/png", href="2017/img/logo_50x50.png?1324")
script document.querySelector('link[rel=canonical]').href = window.location.href
